accelerate==1.14.0
action-msgs==2.0.4
action-tutorials-interfaces==0.33.11
action-tutorials-py==0.33.11
actionlib-msgs==5.3.8
actuator-msgs==0.0.1
aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
ament-cmake-test==2.5.6
ament-copyright==0.17.5
ament-cppcheck==0.17.5
ament-cpplint==0.17.5
ament-flake8==0.17.5
ament-index-python==1.8.4
ament-lint==0.17.5
ament-lint-cmake==0.17.5
ament-package==0.16.5
ament-pep257==0.17.5
ament-uncrustify==0.17.5
ament-xmllint==0.17.5
angles==1.16.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.0
argcomplete==3.6.3
attrs==26.1.0
av==15.1.0
builtin-interfaces==2.0.4
camera-calibration==5.0.12
catkin-pkg==1.1.0
cbor2==6.1.3
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.1
cloudpickle==3.1.2
cmake==4.1.3
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.1.1
colcon-cmake==0.2.30
colcon-common-extensions==0.3.0
colcon-core==0.21.0
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.3.1
colcon-output==0.2.14
colcon-package-information==0.4.1
colcon-package-selection==0.2.10
colcon-parallel-executor==0.4.0
colcon-pkg-config==0.1.0
colcon-powershell==0.5.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
composition-interfaces==2.0.4
contourpy==1.3.3
coverage==7.14.2
cv-bridge==4.1.0
cycler==0.12.1
datasets==4.8.5
deepdiff==8.6.2
demo-nodes-py==0.33.11
diagnostic-msgs==5.3.8
diffusers==0.35.2
dill==0.4.1
distlib==0.4.3
dnspython==2.8.0
docutils==0.23
domain-coordinator==0.12.1
draccus==0.10.0
einops==0.8.2
empy==4.2.1
evdev==1.9.3
example-interfaces==0.12.1
examples-rclpy-executors==0.19.7
examples-rclpy-minimal-action-client==0.19.7
examples-rclpy-minimal-action-server==0.19.7
examples-rclpy-minimal-client==0.19.7
examples-rclpy-minimal-publisher==0.19.7
examples-rclpy-minimal-service==0.19.7
examples-rclpy-minimal-subscriber==0.19.7
Farama-Notifications==0.0.6
feetech-servo-sdk==1.0.0
filelock==3.29.4
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.2.0
geometry-msgs==5.3.8
gitdb==4.0.12
GitPython==3.1.50
gps-msgs==2.1.2
gymnasium==1.3.0
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.20.1
idna==3.18
image-geometry==4.1.0
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
importlib_metadata==9.0.0
iniconfig==2.3.0
interactive-markers==2.5.5
Jinja2==3.1.6
joint-state-publisher==2.4.1
joint-state-publisher-gui==2.4.1
jsonlines==4.0.0
keyboard==0.13.5
kiwisolver==1.5.0
lark==1.3.1
laser-geometry==2.7.2
launch==3.4.11
launch-ros==0.26.12
launch-testing==3.4.11
launch-testing-ros==0.26.12
launch-xml==3.4.11
launch-yaml==3.4.11
lerobot==0.5.1
lifecycle-msgs==2.0.4
logging-demo==0.33.11
map-msgs==2.4.1
marine-acoustic-msgs==2.1.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.0
mdurl==0.1.2
mergedeep==1.3.4
message-filters==4.11.17
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.19
mypy_extensions==1.1.0
nav-msgs==5.3.8
networkx==3.6.1
notify2==0.3.1
numpy==1.26.4
nvidia-ml-py==13.610.43
opencv-python-headless==4.10.0.84
orderly-set==5.5.0
osrf-pycommon==2.1.7
packaging==25.0
pandas==3.0.3
pcl-msgs==1.0.0
pendulum-msgs==0.33.11
pillow==12.2.0
platformdirs==4.10.0
pluggy==1.6.0
polars==1.42.0
polars-runtime-32==1.42.0
propcache==0.5.2
protobuf==6.33.6
psutil==7.2.2
pyarrow==24.0.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pymongo==4.17.0
pynput==1.8.2
pyparsing==3.3.2
pyserial==3.5
pytest==9.1.1
pytest-cov==7.1.0
pytest-repeat==0.9.4
pytest-rerunfailures==16.3
python-dateutil==2.9.0.post0
python-qt-binding==2.2.2
python-xlib==0.33
PyYAML==6.0.3
pyyaml-include==1.4.1
qt-dotgraph==2.7.6
qt-gui==2.7.6
qt-gui-cpp==2.7.6
qt-gui-py-common==2.7.6
quality-of-service-demo-py==0.33.11
rcl-interfaces==2.0.4
rclpy==7.1.11
rcutils==6.7.6
regex==2026.5.9
requests==2.34.2
rerun-sdk==0.26.2
resource-retriever==3.4.4
rich==15.0.0
rmw-dds-common==3.1.1
ros-gz-bridge==1.0.22
ros-gz-interfaces==1.0.22
ros-gz-sim==1.0.22
ros2action==0.32.10
ros2bag==0.26.11
ros2bag-mcap-cli==0.26.11
ros2bag-sqlite3-cli==0.26.11
ros2cli==0.32.10
ros2component==0.32.10
ros2doctor==0.32.10
ros2interface==0.32.10
ros2launch==0.26.12
ros2lifecycle==0.32.10
ros2multicast==0.32.10
ros2node==0.32.10
ros2param==0.32.10
ros2pkg==0.32.10
ros2plugin==5.4.5
ros2run==0.32.10
ros2service==0.32.10
ros2topic==0.32.10
rosapi==2.7.0
rosapi-msgs==2.7.0
rosbag2-interfaces==0.26.11
rosbag2-py==0.26.11
rosbridge-library==2.7.0
rosbridge-msgs==2.7.0
rosbridge-server==2.7.0
rosgraph-msgs==2.0.4
rosidl-adapter==4.6.9
rosidl-cli==4.6.9
rosidl-cmake==4.6.9
rosidl-generator-c==4.6.9
rosidl-generator-cpp==4.6.9
rosidl-generator-py==0.22.2
rosidl-generator-rs==0.4.12
rosidl-generator-type-description==4.6.9
rosidl-parser==4.6.9
rosidl-pycommon==4.6.9
rosidl-runtime-py==0.13.2
rosidl-typesupport-c==3.2.3
rosidl-typesupport-cpp==3.2.3
rosidl-typesupport-fastrtps-c==3.6.4
rosidl-typesupport-fastrtps-cpp==3.6.4
rosidl-typesupport-introspection-c==4.6.9
rosidl-typesupport-introspection-cpp==4.6.9
rpyutils==0.4.2
rqt-action==2.2.1
rqt-bag==1.5.6
rqt-bag-plugins==1.5.6
rqt-console==2.2.2
rqt-graph==1.5.6
rqt-gui==1.6.4
rqt-gui-py==1.6.4
rqt-msg==1.5.2
rqt-plot==1.4.5
rqt-publisher==1.7.3
rqt-py-common==1.6.4
rqt-py-console==1.2.3
rqt-reconfigure==1.6.4
rqt-service-caller==1.2.2
rqt-shell==1.2.3
rqt-srv==1.2.3
rqt-topic==1.7.5
safetensors==0.8.0
scipy==1.18.0
sensor-msgs==5.3.8
sensor-msgs-py==5.3.8
sentry-sdk==2.63.0
service-msgs==2.0.4
setuptools==79.0.1
shape-msgs==5.3.8
shellingham==1.5.4
simulation-interfaces==1.5.1
six==1.17.0
smmap==5.0.3
sros2==0.13.6
statistics-msgs==2.0.4
std-msgs==5.3.8
std-srvs==5.3.8
stereo-msgs==5.3.8
sympy==1.14.0
teleop-twist-keyboard==2.4.1
termcolor==3.3.0
tf2-geometry-msgs==0.36.21
tf2-kdl==0.36.21
tf2-msgs==0.36.21
tf2-py==0.36.21
tf2-ros-py==0.36.21
tf2-sensor-msgs==0.36.21
tf2-tools==0.36.21
theora-image-transport==4.0.7
-e git+ssh://git@github.com/gmsong06/tomato_robot_ws.git@5244dc142c8f5545160445babaed1db7d895c55d#egg=tomato_bringup&subdirectory=build/tomato_bringup
-e git+ssh://git@github.com/gmsong06/tomato_robot_ws.git@5244dc142c8f5545160445babaed1db7d895c55d#egg=tomato_camera&subdirectory=build/tomato_camera
-e git+ssh://git@github.com/gmsong06/tomato_robot_ws.git@5244dc142c8f5545160445babaed1db7d895c55d#egg=tomato_control&subdirectory=build/tomato_control
tomato_interfaces==0.0.1
-e git+ssh://git@github.com/gmsong06/tomato_robot_ws.git@5244dc142c8f5545160445babaed1db7d895c55d#egg=tomato_motor_control&subdirectory=build/tomato_motor_control
-e git+ssh://git@github.com/gmsong06/tomato_robot_ws.git@5244dc142c8f5545160445babaed1db7d895c55d#egg=tomato_perception&subdirectory=build/tomato_perception
-e git+ssh://git@github.com/gmsong06/tomato_robot_ws.git@5244dc142c8f5545160445babaed1db7d895c55d#egg=tomato_teleop&subdirectory=build/tomato_teleop
-e git+ssh://git@github.com/gmsong06/tomato_robot_ws.git@5244dc142c8f5545160445babaed1db7d895c55d#egg=tomato_trajectory&subdirectory=build/tomato_trajectory
toml==0.10.2
topic-monitor==0.33.11
torch==2.10.0
torchvision==0.25.0
tornado==6.5.7
tqdm==4.68.3
trajectory-msgs==5.3.8
trimesh==4.12.2
turtlesim==1.8.4
type-description-interfaces==2.0.4
typer==0.25.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ultralytics==8.4.77
ultralytics-thop==2.0.20
unique-identifier-msgs==2.5.1
urdfdom-py==1.2.1
urllib3==2.7.0
vision-msgs==4.1.1
visualization-msgs==5.3.8
wandb==0.24.2
xacro==2.1.1
xxhash==3.7.0
yarl==1.24.2
zipp==4.1.0
